// Colors
$color-grey-lighter = #F6F8FA
$color-grey-light   = #DFE3E8
$color-grey         = #C4CDD5
$color-grey-dark    = #627380
$color-blue-lighter = #E6EFFF
$color-blue         = #3377FF
$color-darkest      = #231C33

// Spacing
$main-padding = 30px
$main-width = 600px

html,
body
  margin 0
  padding 0
  font-size 18px
  font-family Helvetica, Arial, sans-serif
  color $color-darkest
  line-height 1.4

h1, h2, h3, h4, h5, h6
  margin 0
  + p:not(.tn-date)
    margin-top 30px

p
  margin 0
  + p
   margin-top 30px

a
 color $color-blue

blockquote
  margin 60px 0
  padding-left 30px
  font-family Georgia, serif
  font-style italic
  border-left 1px solid $color-grey
  box-sizing border-box

pre,
p > code
  background-color $color-grey-lighter
  font-size 0.777777777777778rem
  border-radius 6px

pre
  padding 16px
  overflow auto

p > code
  position relative
  top -1px
  padding 3px 6px
  border 1px solid $color-grey-light

.tn-main
  margin 100px auto
  padding 0 $main-padding
  max-width $main-width + $main-padding * 2
  box-sizing border-box

.tn-article
  h2, h3, h4, h5, h6
    margin-top 60px
  img
    margin-left $main-padding * -1
    width $main-width + $main-padding * 2
    max-width 100vw

.tn-post-list
  margin 0
  padding 0
  list-style-type none
  > li:not(:first-child)
    margin-top 100px
  .tn-post-title
    font-size 1.777777777777778rem
  .tn-footer
    margin-top 30px
  .tn-read-more-link
    font-size 0.888888888888889rem
  & + .tn-footer
    nav
      display flex
    .tn-older-link
      margin-left auto

.tn-header
  margin-bottom 35px

.tn-footer
  margin-top 100px
  text-align center

.tn-post-title
  font-size 2.333333333333333rem
  letter-spacing -1px
  line-height 1
  a
    color $color-darkest
    text-decoration none
    line-height 1
    border-bottom 0
    white-space normal
    &:hover,
    &:focus,
    &:active,
    &:visited
      color $color-darkest

.tn-date
  margin-top 10px
  color $color-grey-dark
  font-size 0.833333333333333rem

.tn-post-title, .tn-date
  text-align center

.tn-settings
  background-color $color-grey-lighter
  border-top 1px solid alpha($color-grey-light, .5)

.tn-settings-content
  display flex
  justify-content space-between
  margin 0 auto
  padding 20px $main-padding
  max-width $main-width + $main-padding * 2
  box-sizing border-box

.tn-settings-list-wrapper,
.tn-settings-list-container
  display inline-block
  position relative

.tn-settings-list-container
  user-select none
  &:focus-within
    outline 0
    .tn-settings-list-showing-trigger
      padding 16px 42px 16px 15px
      background-color $color-grey-light
      color $color-darkest
      &:after
        right 15px
        border-color $color-darkest
        transform rotate(-135deg)
    .tn-settings-list
      top -5px
      opacity 1
      visibility visible
    & + .tn-settings-list-hiding-trigger
      display block

.tn-settings-list-showing-trigger
  display inline-block
  position relative
  padding 16px 32px 16px 5px
  background-color transparent
  color $color-grey-dark
  font-size 0.777777777777778rem
  border 0
  border-radius 4px
  cursor pointer
  transition padding .25s ease-out
  &:after
    position absolute
    content ''
    top calc(50% - 6px)
    right 5px
    width 6px
    height 6px
    border-style solid
    border-color $color-grey-dark
    border-width 0 1px 1px 0
    transform-origin 5px 5px
    transform rotate(45deg)
    transition all .5s cubic-bezier(0.68, -0.55, 0.27, 1.55)

.tn-settings-list-hiding-trigger
  display none
  position absolute
  top 0
  left 0
  bottom 0
  width 100%
  background-color transparent
  opacity 0
  appearance none
  cursor pointer
  appearance none
  -moz-appearance none
  -webkit-appearance none
  &:hover,
  &:active,
  &:focus
    background-color transparent

.tn-settings-list
  position absolute
  top 15px
  margin 0
  padding 0
  list-style-type none
  background-color #FFF
  border 1px solid $color-grey-light
  border-radius 4px
  opacity 0
  visibility hidden
  transform translateY(-100%)
  transition opacity .2s ease-out, top .2s ease-out
  li
    &:not(:first-child)
      border-top 1px solid $color-grey-light
  a
    padding 18px 10px
    min-width 160px
    font-size 0.777777777777778rem
    box-sizing border-box
    border 0
    &:hover,
    &:focus
      background-color $color-blue-lighter

.tn-settings-rss-feed
  .tn-settings-list
    right 0

.tn-screen-reader-only
  display none
